<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <h3>Menu</h3>
  </div>
</md-toolbar>
<md-content flex layout="column" role="navigation">
  <md-menu-item>
    <md-button href="browse/core" ng-click="toggleSidenav()">
      <md-icon>label_outline</md-icon>
      Core
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="browse/drupalorg" ng-click="toggleSidenav()">
      <md-icon>label_outline</md-icon>
      Drupal.org
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="browse/distribution" ng-click="toggleSidenav()">
      <md-icon>widgets</md-icon>
      Distribution
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="browse/module" ng-click="toggleSidenav()">
      <md-icon>extensions</md-icon>
      Modules
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="browse/theme" ng-click="toggleSidenav()">
      <md-icon>devices</md-icon>
      Themes
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="browse/sprint" ng-click="toggleSidenav()">
      <md-icon>directions_run</md-icon>
      Sprint
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="browse/commerce" ng-click="toggleSidenav()">
      <md-icon>shopping_cart</md-icon>
      Commerce
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button ng-click="openHelp(); toggleSidenav()" class="btn btn-default navbar-buttons navbar-help">
      <md-icon class="material-icons">help</md-icon>
      <span>Help</span>
    </md-button>
  </md-menu-item>
  <md-menu-item>
    <md-button href="https://github.com/mglaman/contribkanban.com/issues" target="_blank" ng-click="toggleSidenav()">
      <md-icon>bug_report</md-icon>
      <span>Bugs</span>
    </md-button>
  </md-menu-item>
</md-content>
