.scrolly::-webkit-scrollbar {
  width: 8px;
  height: 8px; }
.scrolly::-webkit-scrollbar-thumb {
  background-color: #03a9f4;
  outline: 0; }

html {
  max-height: 100%; }

body {
  overflow-y: auto; }

.page:after {
  content: "";
  display: table;
  clear: both; }

a {
  color: #03a9f4;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  a:hover {
    color: #106CC8; }

.projects--list a {
  border-bottom: 0; }

md-list-item {
  position: relative; }

.kanban-board__wrapper {
  position: relative;
  overflow: hidden;
  height: 100%; }

.kanban-board--header {
  padding: 0 7px;
  height: 75px; }

.kanban-board--container {
  position: relative;
  height: 100%; }

.kanban-board {
  -ms-flex-align: start;
  -moz-box-align: start;
  -webkit-box-align: start;
  -webkit-align-items: flex- start;
  align-items: flex- start;
  flex-direction: row;
  margin-bottom: -75px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  height: 100%; }

.kanban-board--list {
  background: rgba(246, 246, 242, 0.14);
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 320px;
  -webkit-flex: 0 0 320px;
  flex: 0 0 320px;
  margin: 0 5px;
  max-height: 100%;
  padding: 4px 3px 3px;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  width: 290px;
  overflow-x: hidden;
  overflow-y: auto; }

.kanban-board--list__header {
  padding: 5px 0 0 0;
  position: relative; }
  .kanban-board--list__header .fa {
    position: relative;
    top: -3px;
    font-size: 70%; }
  .kanban-board--list__header .md-subhead {
    margin: 0; }

.kanban-board--items md-card {
  -moz-transition: transform 0.1s ease;
  -o-transition: transform 0.1s ease;
  -webkit-transition: transform 0.1s ease;
  transition: transform 0.1s ease;
  transform: translateZ(0); }
  .kanban-board--items md-card:hover, .kanban-board--items md-card:active, .kanban-board--items md-card:focus {
    transform: translate(0, -2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  .kanban-board--items md-card a {
    cursor: pointer; }
  .kanban-board--items md-card md-card-content {
    padding: 3px 8px 2px;
    cursor: pointer; }
  .kanban-board--items md-card .md-subhead {
    font-size: 0.9em;
    line-height: 1.45; }

.kanban-board--issue_tags {
  margin: 5px 0; }
  .kanban-board--issue_tags span {
    display: inline-block;
    margin: 2px;
    padding: 4px 6px;
    text-transform: uppercase;
    font-variant: small-caps;
    font-size: 0.75em;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.13); }
  .kanban-board--issue_tags .bg-default, .kanban-board--issue_tags .btn-default {
    background-color: #F5F5F5; }
  .kanban-board--issue_tags .bg-success, .kanban-board--issue_tags .btn-success {
    background: #A5D6A7; }
  .kanban-board--issue_tags .bg-warning, .kanban-board--issue_tags .btn-warning {
    background: #FFF59D; }
  .kanban-board--issue_tags .btn-primary, .kanban-board--issue_tags .bg-primary {
    color: white;
    font-weight: bold;
    background: #2196F3; }
  .kanban-board--issue_tags .btn-danger, .kanban-board--issue_tags .bg-danger {
    background: #F44336;
    color: white;
    font-weight: bold; }
  .kanban-board--issue_tags .btn-info {
    background: #90CAF9; }
  .kanban-board--issue_tags .bg-info {
    background: #E3F2FD; }

ul.pagination {
  list-style: none; }
  ul.pagination li {
    display: inline-block; }
    ul.pagination li a {
      display: block;
      padding: 4px 6px; }

.projects--list__form {
  padding: 0 2rem; }

/*# sourceMappingURL=main.css.map */
