<md-card-content layout="column">
  <h2 class="md-subhead">
    <issue-title></issue-title>
    <issue-nid-link></issue-nid-link>
  </h2>
  <div class="kanban-board--issue_tags" ng-hide="noTags">
    <issue-meta-version></issue-meta-version>
    <issue-meta-priority></issue-meta-priority>
    <issue-meta-component></issue-meta-component>
    <issue-meta-assigned></issue-meta-assigned>
    <issue-meta-category></issue-meta-category>
    <issue-meta-project ng-show="sprintBoard"></issue-meta-project>
  </div>
</md-card-content>
