parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\:\\:\\$entity\\.$#"
			count: 1
			path: web/modules/custom/contribkanban_boards/src/Entity/Board.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\:\\:\\$value\\.$#"
			count: 5
			path: web/modules/custom/contribkanban_boards/src/Entity/BoardList.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 5
			path: web/modules/custom/contribkanban_boards/src/EventSubscriber/MissingBoardExceptionHtmlSubscriber.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: web/modules/custom/contribkanban_pages/src/Controller/BoardsController.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 2
			path: web/modules/custom/contribkanban_users/src/UserIssuesFeed.php
