parameters:
	level: 4
	tipsOfTheDay: false
	excludePaths:
		- */tests/fixtures/*.php
	paths:
		- web/modules/custom
	drupal:
		entityMapping:
			project:
				class: Drupal\contribkanban_projects\Entity\Project
				storage: Drupal\Core\Entity\Sql\SqlContentEntityStorage
includes:
	- phpstan-baseline.neon
