<div class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-two-thirds">
        {{ search }}
      </div>
      <div class="column">
        {{ add }}
      </div>
    </div>
    <div class="columns">
      <div class="column is-two-thirds">
        Boards
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <h1 class="title is-4">Welcome to Contrib Kanban!</h1>
              <p>This is a huge work in progress created by <a href="http://glamanate.com">Matt Glaman</a></p>
              <p>The goal is to provide the <a href="http://www.drupal.org">Drupal.org</a> community with a simpler way
                to
                sprint on projects.</p>
              <p>Currently the following projects are utilizing this service to lead development!</p>
              <ul>
                <li><a href="http://www.drupalmedia.org/">Drupal 8 Media Initiative</a></li>
                <li><a href="https://contribkanban.com/board/panopoly">Panopoly</a></li>
                <li><a href="https://contribkanban.com/sprint/d8panels">SCOTCH (Panels in D8)</a></li>
              </ul>
              <p>Is your project using ContribKanban for sprints? I'd love to hear about it.</p>
              <hr />
              <h2 class="md-subhead">Support this project</h2>
              <p>Hosting and yearly domain renewal costs about $10/mo for this project.</p>
              <div class="support md-caption">
                <p>
                  <a href="https://gratipay.com/contribkanban-com/">
                    <img src="https://img.shields.io/gratipay/team/contribkanban-com.svg">
                  </a>
                </p>
                <p><span>pull request: <a
                      href="https://github.com/mglaman/contribkanban.com">mglaman/contribkanban.com</a></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
