<div class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-two-thirds">
        {{ search }}
      </div>
      <div class="column">
        {{ add }}
      </div>
    </div>
    <div class="columns">
      <div class="column is-two-thirds">
        {{ list }}
      </div>
      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <h1 class="title is-4">Welcome to Contrib Kanban!</h1>
              <p>This is a tool built by <a href="http://glamanate.com">Matt Glaman</a></p>
              <p>The goal is to provide the <a href="http://www.drupal.org">Drupal.org</a> community with a simpler way to contribute to Drupal projects.</p>
              <hr />
              <div id="codefund"><!-- fallback content --></div>
              <script src="https://codefund.app/properties/86/funder.js" async="async"></script>
              <hr />
              <div class="columns is-vcentered is-centered">
                <a href="https://www.amazee.io/"><img src="/assets/amazeeio-hosted-badge.png" alt="hosted by amazee.io" /></a>
              </div>
{#              <h2 class="md-subhead">Support this project</h2>#}
{#              <div class="bitcoin-tip columns">#}
{#                <div class="bitcoin-tip--qr column is-one-quarter">#}
{#                  <a href="bitcoin:1B5UR2Wn1cE6S31FenqAqoXJY4pBaweJtQ">#}
{#                    <img src="https://glamanate.com/themes/custom/mglaman/images/bitcoin-qr.png" alt="1B5UR2Wn1cE6S31FenqAqoXJY4pBaweJtQ">#}
{#                  </a>#}
{#                </div>#}
{#                <div class="bitcoin-tip--address column">#}
{#                  <div>tip via bitcoin</div>#}
{#                  <a href="bitcoin:1B5UR2Wn1cE6S31FenqAqoXJY4pBaweJtQ">1B5UR2Wn1cE6S31FenqAqoXJY4pBaweJtQ</a>#}
{#                </div>#}
{#              </div>#}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
