html {
  max-height: 100%;
  min-height: 100%;
}
html, body {
  height: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0,0,0,0.87);
  background-color: rgb(250,250,250);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  overflow-y: auto;
  margin: 0;
  padding: 0;
}


html,
body,
button,
select,
html,
textarea,
input {
  font-family: Roboto, "Helvetica Neue", sans-serif; }

.board--list__container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  flex: 1;
}
.board--list {
  background: rgba(246, 246, 242, 0.14);
  border-radius: 3px;
  box-sizing: border-box;
  flex: 0 0 320px;
  margin: 10px 5px 0 5px;
  max-height: 100%;
  padding: 4px 3px 3px;
  position: relative;
  transform: translate3d(0, 0, 0);
  width: 290px;
  overflow-x: hidden;
  overflow-y: auto;
}
.board--list > h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 24px;
  margin: 8px;
}
.board--list__items {
  margin-bottom: 100px;
}
.board--list__item {
  margin: 8px;
  /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);*/
  transition: transform 0.1s ease;
  transform: translateZ(0);
  padding: 10px;
  word-break: break-word;
}
.board--list__item:hover {
  transform: translate(0, -2px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.kanban-board--issue_tags {
  margin: 5px 0;
}
.kanban-board--issue_tags span {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: 0.75em;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.13);
}

main {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.layout-content,
.board--list__scroll-fix {
  position: relative;
  height: 100%;
}

.kanban-board--issue_tags .bg-success {
  background: #A5D6A7;
}
.kanban-board--issue_tags .is-default {
  background-color: #F5F5F5;
}

.page-title {
  margin: 4px 8px;
}
.page-title h1 {
  font-weight: 400;
  font-size: 26px;
}

.app-header .container {
  align-items: center;
}
.app-header .fa-bars {
  font-size: 22px;
  cursor: pointer;
}
.app-sidebar__backdrop {
  display: none;
  opacity: .48;
  z-index: 59;
  background-color: rgba(33,33,33,1.0);
  -webkit-transition: opacity 450ms;
  transition: opacity 450ms;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.app-sidebar {
  display: none;
  box-sizing: border-box;
  position: absolute;
  flex-direction: column;
  z-index: 60;
  width: 320px;
  max-width: 320px;
  left: 0;
  top: 0;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: rgb(255,255,255);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
body.toolbar-vertical .app-sidebar,
body.toolbar-horizontal .app-sidebar {
  top: 39px;
}
body.toolbar-horizontal.toolbar-tray-open .app-sidebar {
  top: 80px;
}

@media (min-width: 600px) {
  .app-sidebar {
    max-width: 400px;
  }
}

.add-board-form .columns {
  margin: 0;
}

.site-branding__name {
  font-size: 26px;
  text-align: left;
}
.site-branding__name a {
  background-color: hsl(0, 0%, 71%);
  color: hsl(0, 0%, 21%);
  text-decoration: none;
}
.site-branding__name a:hover {
  color: hsl(0, 0%, 14%);
}

.app-sidebar .menu {
  padding: 0 1em;
  margin-bottom: 1em;
}


.is-vertical {
  flex-direction: column;
}

.site-branding__text a {
  padding: 1em;
  display: block;
}

.board--filters {
  align-items: center;
  padding: 10px 5px;
}
.board--filters .field {
  margin-bottom: 0;
  margin-right: 5px;
}
