version: 2.1
commands:
  setup-build:
    steps:
    - run: sudo apt-get update && sudo apt-get install -y sqlite3
    - checkout
    - run:
        name: Copy settings file
        command: cp .circleci/ci.settings.php web/sites/default/settings.local.php
    - restore_cache:
        keys:
          - composer-{{ checksum "composer.lock" }}
          - composer-
          - yarn-{{ checksum "yarn.lock" }}
          - yarn-
  install-composer:
    steps:
      - run:  composer install -n --prefer-dist
      - save_cache:
          paths:
            - ~/.composer/cache
          key: composer-{{ checksum "composer.lock" }}
  install-yarn:
    steps:
      - run: yarn install
      - save_cache:
          paths:
            - ~/.cache/yarn
          key: yarn-{{ checksum "yarn.lock" }}

jobs:
  build_backend:
    docker:
      - image: cimg/php:8.1
    working_directory: ~/repo
    steps:
      - setup-build
      - install-composer
  build_frontend:
    docker:
      - image: cimg/node:18
    working_directory: ~/repo
    steps:
      - checkout
      - install-yarn
      - run: yarn run frontend-build
  build_extension:
    docker:
      - image: cimg/node:18
    working_directory: ~/repo
    steps:
      - checkout
      - install-yarn
      - run: yarn run extension-build
  phpcs:
    docker:
      - image: cimg/php:8.1
    steps:
      - setup-build
      - install-composer
      - run:
          name: phpcs
          command: ./bin/phpcs web/modules/custom
  phpstan:
    docker:
      - image: cimg/php:8.1
    steps:
      - setup-build
      - install-composer
      - run: echo 'memory_limit = -1' | sudo tee -a /usr/local/etc/php/conf.d/docker-php-memlimit.ini
      - run:
          name: phpstan
          command: ./bin/phpstan analyse web/modules/custom --debug
  rector:
    docker:
      - image: cimg/php:8.1
    steps:
      - setup-build
      - install-composer
      - run: echo 'memory_limit = -1' | sudo tee -a /usr/local/etc/php/conf.d/docker-php-memlimit.ini
      - run:
          name: phpstan
          command:  php bin/rector process web/modules/custom
  upgrade_status:
    docker:
      - image: cimg/php:8.1
    steps:
      - setup-build
      - install-composer
      - run: echo 'memory_limit = -1' | sudo tee -a /usr/local/etc/php/conf.d/docker-php-memlimit.ini
      - run:
          name: Install backend
          command: ./bin/drush -y site-install --account-pass=admin
      - run:
          name: upgrade_status
          command: ./bin/drush upgrade_status:analyze --all --ignore-uninstalled
  e2e_test:
    docker:
      - image: cimg/php:8.1-browsers
        environment:
          REACT_APP_API_BASE_URL: 'http://127.0.0.1:8080'
    working_directory: ~/repo
    steps:
      - setup-build
      - run:
          name: Switch to `master` for original install
          command: git checkout master
      - install-composer
      - run:
          name: Install backend
          command: ./bin/drush -y site-install --account-pass=admin
      - run:
          name: Create test login user
          command: ./bin/drush user:create logintest@example.com --mail="logintest@example.com" --password="letmein"
      - run:
          name: Switch back to branch
          command: git checkout $CIRCLE_BRANCH
      - install-composer
      - run:
          # micks change in `deployment_identifier`.
          name: clear container cache
          command: ./bin/drush sql:query "DELETE FROM cache_container;" -vvv
      - run:
          name: Run updates on new branch
          command: ./bin/drush updb -y
      - run:
          name: Import config on new branch
          command: ./bin/drush cim -y
      - run:
          name: Check for config changes on new branch
          command: ./bin/drush config:status 2>&1 | grep "No differences"
      - run:
          name: Start builtin
          command: php -S 127.0.0.1:8080 -t web
          background: true
      - run:
          name: Wait for web server
          command: dockerize -wait http://127.0.0.1:8080 -timeout 120s
      - run:
          name: Fetch entrypoint
          command: curl http://127.0.0.1:8080/jsonapi
      - install-yarn
      - run: ./bin/drush en dblog
      - run: yarn run frontend-test
      - run:
          command: ./bin/drush wd-show
          when: always
workflows:
  version: 2
  build:
    jobs:
      - build_backend
      - build_frontend
      - build_extension
  test:
    jobs:
      - phpstan
      - upgrade_status
      - e2e_test
