{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <form{{ attributes }}>
      {{ children }}
    </form>
  </div>
</div>
