<h2>
  <i class="fa fa-circle-o-notch fa-spin fa-fw board--list__refresh"></i>
  {{ title }}
  (<span data-drupal-selector="board-count"></span>)</h2>
<div{{ attributes }}>
  <div class="board--list__items"></div>
</div>
