<h2>
  <span class="icon has-text-info board--list__refresh">
    <i class="fa fa-circle-o-notch fa-spin fa-fw "></i>
  </span>
  {{ title }}
  (<span data-drupal-selector="board-count"></span>)</h2>
<div{{ attributes }}>
  <div class="board--list__items"></div>
</div>
