<div class="col-sm-7 well well-sm projects--list">
    <div class="container-fluid">
        <div class="browse--form row">
            <div class="form-group col-sm-6">
                <input type="text" tabindex="1" data-ng-model="projectSearch" placeholder="Find a project" class="form-control"/>
            </div>
            <div class="col-sm-6" data-ng-controller="projectFormCtrl">
                <form class="form-inline" novalidate>
                    <div class="input-group pull-right">
                        <div class="form-group pull-left">
                            <input class="form-control" type="text" data-ng-model="project.machine_name" placeholder="Project machine name"/>
                        </div>
                <span class="input-group-btn pull-left">
                    <input class="btn btn-primary" type="submit" data-ng-click="newProject(project) | trackEvent:'Projects':'Added a project'" value="Add Project"/>
                </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="browse--projects">
                <div class="browse--projects--project" data-ng-repeat="project in projects | orderBy:'title' | filter:projectSearch track by $index">
                    <h3><span><a href="#/{{ routePath }}/{{ project.nid }}">{{ project.title }}</a></span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-5">
    <h1>Welcome to Contrib Kanban!</h1>
    <p>This is a huge work in progress created by <a href="http://glamanate.com">Matt Glaman</a></p>
    <p>The goal is to provide the <a href="http://www.drupal.org">Drupal.org</a> community with a simpler way to sprint on projects.</p>
    <p>
        <a class="btn btn-success fa fa-gittip" href="https://gratipay.com/mglaman/" target="_blank">
            <span>&nbsp;Support this project via Gratipay</span>
        </a>
    </p>
    <p>
        <strong>Note!</strong> Core support is undergoing an overhaul to support Core components instead of the project at large.
    </p>
    <div class="well well-sm may-as-well-get-something-out-of-this-eh">
        <div data-ng-dfp-ad="div-gpt-ad-1421103564732-0"></div>
    </div>
</div>
