<div class="col-sm-8 well well-sm projects--list">
    <div data-ng-repeat="project in projects">
        <h3><span><a href="#/board/{{ project.nid }}">{{ project.title }}</a></span></h3>
    </div>
</div>
<div class="col-sm-4">
    <h1>Welcome!</h1>
    <p>I guess if you want children beaten, you have to do it yourself. What are you hacking off? Is it my torso?! 'It is!' My precious torso! I was all of history's great robot actors - Acting Unit 0.8; Thespomat; David Duchovny! My fellow Earthicans, as I have explained in my book 'Earth in the Balance'', and the much more popular ''Harry Potter and the Balance of Earth', we need to defend our planet against pollution. Also dark wizards. Look, everyone wants to be like Germany, but do we really have the pure strength of 'will'? Moving along…</p>
    <div data-ng-controller="projectFormCtrl">
        <form novalidate>
            <div class="form-group">
                <input class="form-control" type="text" data-ng-model="project.machine_name" placeholder="Project machine name"/>
                <input class="btn btn-primary" type="submit" data-ng-click="newProject(project)" value="Add Project"/>
            </div>
        </form>
    </div>
</div>