<div class="col-sm-7 projects--list">
    <div class="container-fluid">
        <div class="row">
            <h2>Changelog</h2>
            <p>This is where you can get a peak at what's been updated on the app. Feel free to report ideas and bugs <a href="https://github.com/mglaman/contribkanban-issues/issues">here</a> </p>
            <div class="well">
                <h3>In the Queue</h3>
                <ul>
                    <li>Allow project maintainers to customize project boards (ref FPP, Panelizer in app)</li>
                    <li>Allow individuals to setup Sprint boards</li>
                    <li>Write up blog about API struggles</li>
                </ul>
            </div>
          <div class="well">
            <h3>02.06.2015 Bugs</h3>
            <ul>
              <li>Projects without releases would fail to be added.</li>
              <li>Boards for projects without releases wouldn't pass filtering, showed no issues.</li>
            </ul>
          </div>
            <div class="well">
                <h3>01.16.2015: Enhancements</h3>
                <ul>
                    <li>Board lists support multiple tags per list</li>
                    <li>Board lists will automatically refresh after 10 minutes</li>
                </ul>
            </div>
            <div class="well">
                <h3>01.15.2015 Bugs</h3>
                <ul>
                    <li>Mobile navigation actually used</li>
                    <li>Boards render in mobile</li>
                </ul>
            </div>
            <div class="well">
                <h3>01.14.2015 Enhancements</h3>
                <ul>
                    <li>Support custom sprint boards based off of issue tags</li>
                    <li>API requests cached for 10 minutes to improve performance.</li>
                    <li>Lists can specify tags and issue categories to query for</li>
                </ul>
            </div>
            <div class="well">
                <h3>01.12.2015 Enhancement</h3>
                <ul>
                    <li>Ability to allow unique project boards</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-5">
    <h2>Welcome to Contrib Kanban!</h2>
    <p>This is a huge work in progress created by <a href="http://glamanate.com">Matt Glaman</a></p>
    <p>The goal is to provide the <a href="http://www.drupal.org">Drupal.org</a> community with a simpler way to sprint on projects.</p>
    <p>
        <a class="btn btn-success fa fa-gittip" href="https://gratipay.com/mglaman/" target="_blank">
            <span>&nbsp;Support this project via Gratipay</span>
        </a>
    </p>
    <p>
        <strong>Note!</strong> Core support is undergoing an overhaul to support Core components instead of the project at large.
    </p>
    <div class="well well-sm may-as-well-get-something-out-of-this-eh">
        <div data-ng-dfp-ad="div-gpt-ad-1421103564732-0"></div>
    </div>
</div>
