<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">About Contrib Kanban</h4>
            </div>
            <div class="modal-body">
                <h4>What's this built out of?</h4>
                <p>Shoe strings and tree sap.</p>
                <p><small>Actually, it's an AngularJS app tapping into the Drupal.org REST APIs. We're then harnessing Parse for data storage.</small></p>
                <hr />
                <h4>Adding a project</h4>
                <p>Scraping Drupal.org and adding each project would be.. well expensive and timely. If you don't see your project, simply enter the machine name into the form on the homepage and add it.</p>
                <hr />
                <h4>Board lists</h4>
                <p>Currently the kanban board lists are set to the Drupal.org issue states. In the future there will be support for project maintainers to customize these lists to reflect issue tags and control sprint boards/</p>
                <ul>
                    <li><strong>Postoned</strong>: Postponed & Needs more info</li>
                    <li><strong>Active</strong></li>
                    <li><strong>Needs Review</strong></li>
                    <li><strong>Needs Work</strong></li>
                    <li><strong>RTBC</strong></li>
                    <li><strong>Fixed</strong>: Currently just Fixed, no Closed (fixed) for now.</li>
                    <li><strong>Won't Fix</strong> Hidden, due to possible performance/number of calls. Anything closed and not fixed.</li>
                </ul>
                <hr />
                <h4>Ideas/Suggestions</h4>
                <p>Right now there isn't a public repo for this site, or public issue queue. You're better off pinging me in IRC - check #drupal-contribute.</p>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>