<md-dialog aria-label="About Contrib Kanban" style="min-width: 60%;">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <h3 class="">About Contrib Kanban</h3>
      <span flex></span>
      <md-button class="md-icon-button">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content flex layout-padding layout-margin>
    <md-list>
      <md-list-item class="md-3-line">
        <div class="md-list-item-text" layout="column">
          <h3 class="md-title">About the project and author</h3>
          <p>This little creation is a work of love by <a href="https://glamanate.com">Matt Glaman</a> for the Drupal
            community to promote growth in contributed projects and community collaboration.</p>
          <h5 class="md-caption">Links: <a href="https://www.drupal.org/u/mglaman">Drupal.org</a>, <a
            href="https://twitter.com/nmdmatt">Twitter</a>, <a
            href="https://www.linkedin.com/in/mattglaman">LinkedIn</a></h5>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="column">
          <h3>How to contribute</h3>
          <p>First, checkout the <a href="https://github.com/mglaman/contribkanban.com/blob/master/CONTRIBUTING.md">contributing</a>
            doc. The best contributions are ideas and concepts to help make working on Drupal contrib (and core!)
            easier.</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line">
        <div class="md-list-item-text" layout="column">
          <h3>Project boards</h3>
          <p>Projects (distributions, themes, modules) can be added from the browse page - simply enter the project's
            machine name! Project boards can be customized to fit different needs. For example, Panelier and Commerce
            Reports focus on a parent Plan issue and group by child issues. Drupal Commerce and Panopoly only show
            issues tagged with "sprint".</p>
          <p>To customize a board, either open an issue labeled "project board request" or open a pull request to
            add/change it's configuration. More info on <a
              href="https://github.com/mglaman/contribkanban.com/wiki/Custom-project-boards">custom project boards</a>
          </p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="column">
          <h3>Sprint boards</h3>
          <p>Sprint boards are based off of Drupal.org issue tags. Currently there isn't a UI for adding sprint boards (<a
            href="https://github.com/mglaman/contribkanban.com/issues/9">#9</a>). Requests can be made in the project's
            issue queue labeled "sprint board request." Sprint board layouts push the focus on working on in-progress
            issues before starting new ones (Needs Review and Needs Work before Active.)</p>
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text" layout="column">
          <h3 class="md-headline">Issues are missing?</h3>
          <p>Currently pagination is not supported in this app (API supports it) solely on the fact that I don't want to
            bog down the API with irrelevant requests. A single query returns 100 nodes, which should suffice for the
            most part.</p>
          <p>This app instead requests the issues to be sorted by most recently modified. That means fresh issues will
            always display.</p>
        </div>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
  </md-content>
</md-dialog>
