<div class="kanban-board__wrapper" data-boardviewport>
    <div class="kanban-board--header clearfix">
        <div class="row">
            <div class="col-md-7">
                <h1 class="pull-left"><a href="https://www.drupal.org/project/{{ project.machine_name }}" target="_blank">{{ project.title }}</a></h1>
            </div>
            <div class="col-md-5 kanban-board--supplementary">
              <form class="form-inline kanban-board--filters pull-right">
                  <div class="clearfix form-group">
                      <label for="projectBranches" class="sr-only">Project branches</label>
                      <select id="projectBranches" class="form-control pull-left input-sm" data-ng-options="release.name for release in releaseBranches track by release.label" data-ng-model="projectRelease" data-ng-change="updateBoardRoute()">
                          <option value="">-- Branch --</option>
                      </select>
                      <label for="issuePriorities" class="sr-only">Issue priorities</label>
                      <select id="issuePriorities" class="form-control pull-left input-sm" data-ng-model="issuePriority">
                          <option value="">-- Priority --</option>
                          <option value="100">Minor</option>
                          <option value="200">Normal</option>
                          <option value="300">Major</option>
                          <option value="400">Critical</option>
                      </select>
                      <label for="issueCategory" class="sr-only">Issue Category</label>
                      <select id="issueCategory" class="form-control pull-left input-sm" data-ng-model="issueCategory">
                        <option value="">-- Category --</option>
                        <option value="1">Bug report</option>
                        <option value="2">Task</option>
                        <option value="3">Feature request</option>
                        <option value="4">Support request</option>
                      </select>
                  </div>
              </form>
            </div>
        </div>
    </div>
    <div class="kanban-board--container">
        <div class="kanban-board scrolly">
            <div class="kanban-board--list scrolly" data-ng-repeat="list in boardLists track by $index" data-ng-controller="listCtrl">
                <div class="kanban-board--list__header">
                    <h2>
                        <span class="fa" data-ng-class="{'fa-spin fa-spinner': processing === true}">&nbsp;</span>
                        <span>{{ list.label }} ({{ listIssues.length }})</span>
                    </h2>
                </div>
                <div class="kanban-board--items">
                    <div class="kanban-board--item" data-ng-click="openIssue(issue.nid)" data-ng-repeat="issue in listIssues | orderBy:issue.priority:true | issuePriorityFilter:issuePriority | issueCategoryFilter:issueCategory | filter:filterIssues(list.statuses) | issueBranchFilter:projectRelease.name track by $index" style="border-left-color: {{ issue.status | statusColorFilter }}">
                        <div data-issue></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
