<div class="kanban-board__wrapper" data-boardviewport>
    <div class="kanban-board--header clearfix">
        <div layout="row">
            <div layout="column" class="flex-66">
                <h1><a href="https://www.drupal.org/project/{{ project.machine_name }}" target="_blank">{{ project.title }}</a></h1>
            </div>
            <div layout="column" class="flex-33">
                <div layout="row">
                    <md-input-container>
                        <label for="projectBranches">Project branches</label>
                        <md-select id="projectBranches" class="form-control pull-left input-sm" ng-model="projectRelease" ng-change="updateBoardRoute()">
                            <md-option ng-repeat="release in releaseBranches track by release.label" ng-value="release">{{ release.name }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label for="issuePriorities" class="sr-only">Issue priorities</label>
                        <md-select id="issuePriorities" class="form-control pull-left input-sm" ng-model="issuePriority">
                            <md-option ng-repeat="(key, value) in priorities" ng-value="key">{{ value }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label for="issueCategory" class="sr-only">Issue Category</label>
                        <md-select id="issueCategory" class="form-control pull-left input-sm" ng-model="issueCategory">
                            <md-option ng-repeat="(key, value) in categories" ng-value="key">{{ value }}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class="kanban-board--container">
        <div class="kanban-board scrolly">
            <div class="kanban-board--list scrolly" data-ng-repeat="list in boardLists track by $index" data-ng-controller="listCtrl">
                <div class="kanban-board--list__header">
                    <h2 class="md-subhead">
                        <span class="fa" data-ng-class="{'fa-spin fa-spinner': processing === true}">&nbsp;</span>
                        <span>{{ list.label }} ({{ listIssues.length }})</span>
                    </h2>
                </div>
                <div class="kanban-board--items">
                    <md-card class="" ng-click="openIssue(issue.nid)" ng-repeat="issue in listIssues | orderBy:issue.priority:true | issuePriorityFilter:issuePriority | issueCategoryFilter:issueCategory | filter:filterIssues(list.statuses) | issueBranchFilter:projectRelease.name track by $index" style="background-color: {{ issue.status | statusColorFilter }}">
                        <div data-issue></div>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>
