<md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
        <h3>Menu</h3>
    </div>
</md-toolbar>
<md-content flex layout="column" role="navigation">
    <md-menu-item><md-button href="browse/core" ng-click="toggleSidenav()">
        <md-icon md-svg-icon="assets/icons/label.svg"></md-icon>
        Core</md-button></md-menu-item>
    <md-menu-item><md-button href="browse/drupalorg" ng-click="toggleSidenav()">
        <md-icon md-svg-icon="assets/icons/label.svg"></md-icon>
        Drupal.org</md-button></md-menu-item>
    <md-menu-item><md-button href="browse/distribution" ng-click="toggleSidenav()">
        <md-icon md-svg-icon="assets/icons/widgets.svg"></md-icon>
        Distribution</md-button></md-menu-item>
    <md-menu-item><md-button href="browse/module" ng-click="toggleSidenav()">
        <md-icon md-svg-icon="assets/icons/module.svg"></md-icon>
        Modules
    </md-button></md-menu-item>
    <md-menu-item><md-button href="browse/theme" ng-click="toggleSidenav()">
        <md-icon md-svg-icon="assets/icons/devices.svg"></md-icon>
        Themes</md-button></md-menu-item>
    <md-menu-item><md-button href="browse/sprint" ng-click="toggleSidenav()">
        <md-icon md-svg-icon="assets/icons/run.svg"></md-icon>
        Sprint</md-button></md-menu-item>
    <md-menu-item><md-button href="browse/commerce" ng-click="toggleSidenav()">
        <md-icon md-svg-icon="assets/icons/cart.svg"></md-icon>
        Commerce</md-button></md-menu-item>
    <md-menu-item>
        <md-button ng-click="openHelp() | trackEvent:'Button':'Help modal'; toggleSidenav()" class="btn btn-default navbar-buttons navbar-help">
            <md-icon md-svg-icon="assets/icons/help.svg"></md-icon>
            <span class="sr-only">Help</span>
        </md-button>
    </md-menu-item>
    <md-menu-item>
        <md-button href="https://github.com/mglaman/contribkanban.com/issues" target="_blank" ng-click="toggleSidenav()">
            <md-icon md-svg-icon="assets/icons/bug.svg"></md-icon>
            <span>Bugs</span>
        </md-button>
    </md-menu-item>
</md-content>
